parameters:
- name: name
  type: string
  default: ''
- name: display_name
  type: string
  default: ''
- name: depends_on
  type: string
  default: ''
- name: environment_name
  type: string
  default: ''
- name: branch_name
  type: string
  default: 'main'


stages:

- stage: ${{ parameters.name }}
  displayName: ${{ parameters.display_name }}
  dependsOn: ${{ parameters.depends_on }}
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/${{ parameters.branch_name }}'))
  variables:  
  - name: DropRoot 
    value: '$(Pipeline.Workspace)/drop'  

  jobs:
  
  - deployment: deploy
    displayName: 'Deploy'
    environment: ${{ format('{0}', parameters.environment_name) }}
    pool:
      vmImage: 'ubuntu-latest'
    continueOnError: 'false'

    strategy:
      runOnce:
        deploy:
          steps:

          - powershell: |
              az bicep build-params --file main.bicepparam --outfile main.bicepparam.json              
            workingDirectory: '$(DropRoot)'
            displayName: 'Parameter FIle'

          - task: FileTransform@2
            displayName: 'Environment Settings'
            inputs:
              folderPath: '$(DropRoot)'
              enableXmlTransform: false
              errorOnInvalidSubstitution: true
              jsonTargetFiles: 'main.bicepparam.json' 
          
          - task: AzureCLI@2
            inputs:
              azureSubscription: ${{ format('{0}', parameters.environment_name) }}
              scriptType: bash
              scriptLocation: inlineScript
              workingDirectory: '$(DropRoot)'
              inlineScript: |
                az --version                
                az deployment sub what-if --location westus3 --template-file main.bicep --parameters main.bicepparam.json
                az deployment sub create --location westus3 --name ${{ format('{0}', parameters.environment_name) }} --template-file main.bicep --parameters main.bicepparam.json
            displayName: 'Resources'

  - template: ../common/release-annotations.yml
    parameters:
      environment_name: ${{parameters.environment_name}}
      depends_on: deploy
