<div *ngIf="(isLoading$ | async) === false; else loadingProfile">
  <div *ngIf="profileInformation$ | async as profile">
    <div>
      <img
        *ngIf="profile.imageUrl !== null"
        alt="profile image"
        [attr.src]="profile.imageUrl | safeUrl" />
      <div style="color: red" *ngIf="profile.imageUrl === null">
        No Profile Image
      </div>
      <div>
        <h3>
          {{ profile.displayName }}
        </h3>
      </div>
      <div>
        {{ profile.userPrincipalName }}
      </div>
    </div>
  </div>
</div>

<ng-template #loadingProfile>
  <div>Loading Profile...</div>
</ng-template>
