<div>
  <div>
    {{ 'MESSAGES.CONNECTED' | transloco }}
  </div>
  @if (!isOffline()) {
    <div>
      <label>
        {{ 'MESSAGES.STATS' | transloco }}:
        <input
          class="stats-subscribed"
          type="checkbox"
          [checked]="statsSubscribed()"
          (change)="toogleStats()" />
      </label>
    </div>
    @if (statsSubscribed()) {
      <div class="stats-count">
        {{ 'MESSAGES.SUBSCRIPTIONS' | transloco }}: {{ subscriptionCount() }}
      </div>
    }
  }
</div>
