<div style="text-align: center">
  <div>
    <flag></flag>
  </div>
  <div>
    <h1>
      {{ 'HEADING' | transloco: { value: '!' } }}
    </h1>
  </div>
  <div>
    <navigation></navigation>
  </div>
  <div>
    <br />
    <router-outlet></router-outlet>
  </div>
  <br />
  @if (!isOffline && !hideSubscription) {
    <div>
      <label>
        {{ 'MESSAGES.SUBSCRIBE' | transloco }}:
        <input
          name="notificationsSubscribed"
          type="checkbox"
          [disabled]="isSubscriptionInProgress"
          [(ngModel)]="notificationsSubscribed"
          (change)="subscriptionChanged()" />
      </label>
    </div>
  }
  @if (isSubscriptionInProgress) {
    <div>
      <img alt="loader" src="../../Assets/loader.gif" height="30" width="30" />
    </div>
  }
  @if (isOffline) {
    <div style="color: red">
      <b>
        {{ 'MESSAGES.OFFLINE' | transloco }}
      </b>
    </div>
  }
</div>
