<div style="text-align:center">
    <div>
        <h1>
            {{title}}
        </h1>
    </div>    
    <div>
        <navigation></navigation>
    </div>
    <div>
        <br />
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!isOffline && !hideSubscription">
        <label>Subscribe to Notifications:</label> <input type="checkbox" [disabled]="isSubscriptionInProgress" [(ngModel)]="notificationsSubscribed" (change)="subscriptionChanged()" />
    </div>
    <div *ngIf="isSubscriptionInProgress">
        <img src="../../Assets/loader.gif" height="30" width="30" />
    </div>
    <div style="color:red" *ngIf="isOffline">
        <b>
            Application is Offline
        </b>        
    </div>
</div>
